# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# --- JavaScript/Node ---
# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.env 

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Clerk configuration (can include secrets)
/.clerk/

# --- Python ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.spec

# VS Code
.vscode/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pylint
pylint-report.txt

# Unit test / coverage
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Misc
*.log
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

g_credentials.json

drizzle

index.pkl
index.faiss

extra/